<div class="container">
  <h1 class="app-name">Server Status Checker</h1>
  <h3 class="titles">Status:</h3>
  <div class="status">
    <%= Server.all.last.status %>
  </div>
  <h3 class="titles">Messages:</h3>
  <%= render 'components/card-message' %>
  <div class="btn btn-primary button">
    <%= link_to 'Check the status', {:action => :create}, :method => :post %>
  </div>
  <div class="btn btn-primary button">
    <%= link_to "Update the informations", information_path, class: "btn btn-flat" %>
  <div>
</div>
