<div class="card-holder">
  <% @message.each do |message| %>
  <div class="card">
    <div>
      <%= message.status%>
    </div>
    <div>
      <%= message.text%>
    </div>
    <div>
      <%= message.created_at%>
    </div>
  </div>
  <% end %>
</div>