.button {
  color: white!important;
  font-size: 25px;
  text-shadow: 1px 1px gray;
  text-decoration: none;
  width: 30%;
  margin-bottom: 5px;
}


.button:hover {
  color: rgb(0, 175, 255) !important;
}
